<Router AppAssembly="typeof(App).Assembly" AdditionalAssemblies="[typeof(SharedComponents).Assembly]">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <h3>404</h3>
        </NotFound>
</Router>
