
@using GBTools.Bootstrapper
@using GBTools.Common
@using System.Diagnostics
@inject NavigationManager Navigation


@* <button class="btn btn-primary" @onclick="OpenPage">Open</button> *@

<GbDump />
@code {

    // private void OpenPage()
    // {
    //     Navigation.NavigateTo("/settings");
    // }
}