@* @page "/" *@
@rendermode InteractiveServer 
@inject NavigationManager Navigation

@* <GbDump></GbDump> *@

<Heading>GB RGB Dump</Heading>

<Button Color="Color.Primary" Clicked="GoToSettings"><Icon Name="@("fa-gear")"></Icon></Button>



@code {

    void GoToSettings()
    {
        Navigation.NavigateTo("/settings");
    }
}
