@page "/"
@using GBTools.Bootstrapper
@using GBTools.Common
@using System.Diagnostics

<button @onclick="test">test</button>

<GbDump />

@code {
    private void test()
    {
        Debug.WriteLine("Test");
    }
}