@using GBRGBDump.Web.Shared.Services
@using GBTools.Common
@using GBTools.Bootstrapper
@using Microsoft.AspNetCore.Components.Web
@inject ImageTransformService ImageTransformService
@inject IFileDialogService FileDialogService

<PageTitle>GB Dump and RGB Merge Tool</PageTitle>

<p>Input</p>
<input @bind="inputPath" />
<button @onclick="SelectInput">...</button>
<p>Output</p>
<input @bind="outputPath" />
<button @onclick="SelectOutput">...</button>

<button @onclick="Exececute">Execute</button>

@code
{
    private string? inputPath;
    private string? outputPath;
    private bool? cartIsJp;

    private async Task Exececute()
    {
        if (string.IsNullOrWhiteSpace(inputPath) || string.IsNullOrWhiteSpace(outputPath)) return;


        var importParams = new ImportSavOptions()
        {
            ImportLastSeen = false,
            ImportDeleted = true,
            ForceMagicCheck = false,
            AverageType = AverageTypes.Normal,
            AebStep = 2,
            BanksToProcess = -1,
            CartIsJp = cartIsJp ?? false,
            ChannelOrder = ChannelOrder.Sequential,
            RgbMerge = true
        };

        var progress = new Progress<ProgressInfo>(ReportProgress);

        var result = await Task.Run(() =>
            ImageTransformService.TransformSav(inputPath, outputPath, importParams, progress));


    }

    private void ReportProgress(ProgressInfo value)
    {
        // do nothing
    }

    private async Task SelectInput()
    {
        inputPath = await FileDialogService.OpenFileDialog();
    }

    private async Task SelectOutput()
    {
        outputPath = await FileDialogService.OpenFolderDialog();
    }
}