<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GBRGBDump.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GBRGBDump.GUI.Properties.Settings>
            <setting name="SourcePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportDeleted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckMagicNumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChannelOrder" serializeAs="String">
                <value>Sequential</value>
            </setting>
            <setting name="AverageType" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="PreDumpScript" serializeAs="String">
                <value />
            </setting>
            <setting name="PostDumpScript" serializeAs="String">
                <value />
            </setting>
        </GBRGBDump.GUI.Properties.Settings>
    </userSettings>
</configuration>