@page "/"
@inject NavigationManager Navigation

<Heading>GB RGB Dump</Heading>

<Button Color="Color.Primary" Clicked="GoToSettings"><Icon Name="@("fa-gear")"></Icon></Button>

<NavLink href="/processing">Processing</NavLink>

<NavLink href="/folders">Browser</NavLink>

@code {

    void GoToSettings()
    {
        Navigation.NavigateTo("/settings");
    }
}
