@page "/printer"

@inject HttpClient _client
@inject PrinterImageService PrinterImageService
@inject ISettingsService SettingsService
@inject ImageProcessingService ImageProcessingService
@inject GBRGBDump.Web.Shared.Services.IFileSystemService FileSystemService

<Container Fluid>

    <Row>
        <h3>PicoPrinter</h3>
    </Row>

    <Row>
        <Gallery @ref="galleryRef" @bind-Images="@_images">
            <PrinterHandler @bind-Images="@_images" Model="@Model"></PrinterHandler>
            
        </Gallery>
    </Row>
</Container>

@code {

    ObservableCollection<GbImageContainer> _images = [];

    private SettingsModel? Model { get; set; }


    private Gallery galleryRef;

    private Modal modalRef;


    protected override void OnInitialized()
    {
        Model ??= SettingsService.LoadSettings() ?? new()
        {
            // Set defaults here
            ChannelOrder = ChannelOrder.Sequential,
            AverageType = AverageTypes.Normal
        };
    }

}