@page "/settings"
@using System.Xml.Linq

@inject IFileDialogService FileDialogService
@inject IEnvironmentService LocalEnvironment
@inject NavigationManager Navigation
@inject ISettingsService SettingsService

<Card Padding="Padding.Is0.OnMobile">
    <CardHeader Padding="Padding.Is1.OnMobile">Settings</CardHeader>
    @*     <CardBody>
        Set settings here, they will be saved to a json file.
    </CardBody> *@
    <CardBody Margin="Margin.Is0.OnMobile" Padding="Padding.Is0.OnMobile">
        <Fields Padding="Padding.Is0.OnMobile" Margin="Margin.Is0.OnMobile">
            <Field ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile" Margin="Margin.Is0.OnMobile">
                <FieldLabel Margin="Margin.Is0.OnMobile" TextSize="TextSize.Small.OnMobile.Default.OnTablet">Input File Path</FieldLabel>
                <FieldBody Margin="Margin.Is0.OnMobile">
                    <Addons>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit @bind-Text="@Model!.InputPath" Padding="Padding.Is1.OnMobile">

                            </TextEdit>
                        </Addon>
                        @if (LocalEnvironment.IsDesktop)
                        {
                            <Addon AddonType="AddonType.End">
                                <Button Color="Color.Secondary" Clicked="SelectInput">...</Button>
                            </Addon>
                        }
                    </Addons>
                    <FieldHelp Display="Display.None.Block.OnMobile">Insert a valid path from the host machine. This is ignored in scripted mode and the value is obtained from the script result.</FieldHelp>

                </FieldBody>
            </Field>
            <Field ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile" Margin="Margin.Is0.OnMobile">
                <FieldLabel Margin="Margin.Is0.OnMobile" TextSize="TextSize.Small.OnMobile.Default.OnTablet">Output Folder Path</FieldLabel>
                <FieldBody>
                    <Addons>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit @bind-Text="@Model!.OutputPath" Padding="Padding.Is1.OnMobile">

                            </TextEdit>
                        </Addon>
                        @if (LocalEnvironment.IsDesktop)
                        {
                            <Addon AddonType="AddonType.End">
                                <Button Color="Color.Secondary" Clicked="SelectOutput">...</Button>
                            </Addon>
                        }
                    </Addons>
                    <FieldHelp Display="Display.None.Block.OnMobile">Insert a valid path from the host machine</FieldHelp>

                </FieldBody>
            </Field>
            <Field ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile" Margin="Margin.Is0.OnMobile">
                <FieldLabel >RGB Merge Mode</FieldLabel>
                <FieldBody>
                    <Select @bind-SelectedValue="@Model!.ChannelOrder">
                        <SelectItem Value="ChannelOrder.None">None</SelectItem>
                        <SelectItem Value="ChannelOrder.Sequential">Sequential (RRR GGG BBB)</SelectItem>
                        <SelectItem Value="ChannelOrder.Interleaved">Interleaved (RGB RGB RGB)</SelectItem>
                    </Select>
                </FieldBody>
            </Field>
            <Field ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile" Margin="Margin.Is0.OnMobile">
                <FieldLabel>HDR Type</FieldLabel>
                <FieldBody Margin="Margin.Is0.OnMobile">
                    <Select @bind-SelectedValue="@Model!.AverageType">
                        <SelectItem Value="AverageTypes.None">None</SelectItem>
                        <SelectItem Value="AverageTypes.Normal">Normal</SelectItem>
                        <SelectItem Value="AverageTypes.FullBank">Full</SelectItem>
                    </Select>
                    <FieldHelp Display="Display.None.Block.OnMobile">This is ignored if RGB Merge is set to None.</FieldHelp>
                    <FieldHelp Display="Display.None.Block.OnMobile">Full Mode does an extra Average step between both groups in a bank.</FieldHelp>
                </FieldBody>
            </Field>

        </Fields>

    </CardBody>
    @* Pre-Processing Script *@
    <CardHeader Padding="Padding.Is1.OnMobile">Pre-Processing Script</CardHeader>
    <CardBody Margin="Margin.Is0.OnMobile" Padding="Padding.Is0.OnMobile">
        <Fields Padding="Padding.Is0.OnMobile" Margin="Margin.Is0.OnMobile">
            @* Enabled *@
            <Field ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile" Margin="Margin.Is0.OnMobile">
                @*  <FieldLabel Margin="Margin.Is0.OnMobile" TextSize="TextSize.Small.OnMobile.Default.OnTablet">Enabled</FieldLabel> *@
                <FieldBody>
                    <Switch TValue="bool" @bind-Checked="@Model!.PreScript.Enabled">Enabled</Switch>
                </FieldBody>
            </Field>

            @* Fail on error *@
            <Field ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile" Margin="Margin.Is0.OnMobile">
                @*  <FieldLabel Margin="Margin.Is0.OnMobile" TextSize="TextSize.Small.OnMobile.Default.OnTablet">Enabled</FieldLabel> *@
                <FieldBody>
                    <Switch TValue="bool" @bind-Checked="@Model!.PreScript.FailOnError">Fail on Error</Switch>
                </FieldBody>
            </Field>

            @* Path *@
            <Field ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile" Margin="Margin.Is0.OnMobile">
                <FieldLabel Margin="Margin.Is0.OnMobile" TextSize="TextSize.Small.OnMobile.Default.OnTablet">Path</FieldLabel>
                <FieldBody Margin="Margin.Is0.OnMobile">
                    <TextEdit @bind-Text="@Model!.PreScript.Path" Padding="Padding.Is1.OnMobile">

                    </TextEdit>
                    <FieldHelp Display="Display.None.Block.OnMobile">Help Description here</FieldHelp>

                </FieldBody>
            </Field>

            @* Run Location *@
            <Field ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile" Margin="Margin.Is0.OnMobile">
                <FieldLabel Margin="Margin.Is0.OnMobile" TextSize="TextSize.Small.OnMobile.Default.OnTablet">Run Location</FieldLabel>
                <FieldBody Margin="Margin.Is0.OnMobile">
                    <TextEdit @bind-Text="@Model!.PreScript.RunLocation" Padding="Padding.Is1.OnMobile">

                    </TextEdit>
                    <FieldHelp Display="Display.None.Block.OnMobile">Help Description here</FieldHelp>

                </FieldBody>
            </Field>

            @* Arguments *@
            <Field ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile" Margin="Margin.Is0.OnMobile">
                <FieldLabel Margin="Margin.Is0.OnMobile" TextSize="TextSize.Small.OnMobile.Default.OnTablet">Arguments</FieldLabel>
                <FieldBody Margin="Margin.Is0.OnMobile">
                    <TextEdit @bind-Text="@Model!.PreScript.Arguments" Padding="Padding.Is1.OnMobile">

                    </TextEdit>
                    <FieldHelp Display="Display.None.Block.OnMobile">Help Description here</FieldHelp>

                </FieldBody>
            </Field>
        </Fields>
    </CardBody>
    @* Pico GB Printer*@
    <CardHeader Padding="Padding.Is1.OnMobile">Pico GB Printer</CardHeader>
    <CardBody Margin="Margin.Is0.OnMobile" Padding="Padding.Is0.OnMobile">
        @* Printer web path *@
        <Field ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile" Margin="Margin.Is0.OnMobile">
            <FieldLabel Margin="Margin.Is0.OnMobile" TextSize="TextSize.Small.OnMobile.Default.OnTablet">Web Address</FieldLabel>
            <FieldBody Margin="Margin.Is0.OnMobile">
                <TextEdit @bind-Text="@Model!.PrinterAddress" Padding="Padding.Is1.OnMobile">

                </TextEdit>
                <FieldHelp Display="Display.None.Block.OnMobile">Insert here the address for the pico gb printer web interface, generally http://192.168.7.1</FieldHelp>

            </FieldBody>
        </Field>
    </CardBody>
    <CardFooter>
        <Field ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile" Margin="Margin.Is1.OnMobile">
            <Button Color="Color.Success" Clicked="Submit">Save</Button>
        </Field>
    </CardFooter>

</Card>

@code {

    [SupplyParameterFromForm] private SettingsModel? Model { get; set; }

    protected override void OnInitialized() =>
        Model ??= SettingsService.LoadSettings() ?? new()
        {
            // Set defaults here
            ChannelOrder = ChannelOrder.Sequential,
            AverageType = AverageTypes.Normal
        };

    private void Submit()
    {
        SettingsService.SaveSettings(Model!);
        Navigation.NavigateTo("/");
    }

    private async Task SelectInput()
    {
        var selectedPath = FileDialogService.OpenFileDialog();
        if (!string.IsNullOrWhiteSpace(selectedPath))
        {
            Model!.InputPath = selectedPath;
        }
    }

    private async Task SelectOutput()
    {
        var selectedPath = FileDialogService.OpenFolderDialog();
        if (!string.IsNullOrWhiteSpace(selectedPath))
        {
            Model!.OutputPath = selectedPath;
        }
    }

    private void GoBack()
    {
        Navigation.NavigateTo("/");
    }

}