@using GBRGBDump.WebShared.Pages
@inherits LayoutComponentBase
@inject IHostEnvironment HostEnvironment

<Layout>
    <LayoutHeader>
        <NavigationBar />
    </LayoutHeader>
    <LayoutContent>
        <ErrorBoundary>
            @Body
        </ErrorBoundary>
    </LayoutContent>
</Layout>

<div id="blazor-error-ui" data-nosnippet>
    @if (HostEnvironment.IsProduction())
    {
        <span>An error has occurred.</span>
    }
    else
    {
        <span>An unhandled exception occurred.</span>
    }
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

